#banner{
    padding: 2%;
    font-size: 90%;
}
#banner h1{
    color: white;
    display: inline;
    padding-left: 1%;
}

#top{
    text-align: right;
    padding: 2%;
    color: white;
    font-size: 90%;
}

#nav{
    text-align: right;
    padding-top:7%;

}

#nav li {
    text-decoration: none;
    display: inline;
    color: #233852;
    font-size: 150%;
    padding: 5%;
}

#nav a{
    text-decoration: none;
    color: #233852;
    font-size: 120%;
}
#nav button{
    color:white !important ;
    background-color: #4E88C3;
    border: none;
    border-radius: 12px;
    padding: 1%;
    font-size: 100%;
    font-weight: 900;
    text-decoration: none !important;
}

#nav button a{
    color: white;
}

#body {
    color: black;
    padding: 5%;
}

#body p1{
    padding-top: %;
    display: block;
}

#services{
    display: inline-block;
    text-align: center;
}

#services button{
    display: inline;
    padding: 5%;
    background-color: #4E88C3;
    color: white;
    font-size: 100%;
    border: none;
    border-radius: 15px;;
}


#contact button{
    color:white ;
    background-color: #4E88C3;
    border: none;
    border-radius: 12px;
    padding: 1%;
    font-size: 150%;
    font-weight: 900;
    text-decoration: none !important;
}

#contact a{
    text-decoration: none;
    color: white;
}

#contact{
    text-align: center;
    padding: 5%;
}

#col1 li{
    list-style-type: none;
    padding-top: 5%;
    font-size: 50%;
}

#col1 h1{
    font-size: 250%;
    padding-top: 30%;
    font-weight: 900;
}

#col1 {
    color: #233852;
    padding-top: 40%;
    padding: 5%;

}

#col2 li{
    list-style-type: none;
    font-size: 50%;
    padding-top: 5%;
}

#col2 {
    color: #233852;
    padding-top: 40%;
    padding: 5%;
}

#col2 h1{
    font-size: 250%;
    padding-top: 30%;
    font-weight: 900;
}




footer {
    color: white;
    text-align: right;
    padding: 2%;
}

.container{
display: inline-block;
overflow: hidden;
}

.middlep{
    display: inline-block;
    overflow: hidden;
}
